.main {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background);
}
.verticalDivider {
    height: 100vh;
    color: aliceblue;
}
.leftContainer {
    flex: 1;
    background-image: url("/login.svg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 20px;
    width: 100%;
    height: 100vh;
}
.rightContainer {
    flex: 1;
}
.title {
    color: transparent;
    font-size: xx-large;
    background: var(--gradient-primary);
    background-clip: text;
    background-size: 300% 100%;
    animation: animateBg 2s infinite alternate-reverse;
}
@keyframes animateBg {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}